@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: rgb(28, 28, 28) 1px 0 10px;
}

h1 {
    padding: 40px 0 0 0;
}
h2 {
    padding: 30px 0;
}

.about-content {
    padding: 40px;
}

.about-wrapper {
    text-align: center;
}

img,
picture {
    height: auto;
    width: 100%;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header,
.intro,
.grid-background {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3))
            no-repeat fixed,
        url(/customcss/img/hosp.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.header,
.intro {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;
}

.intro {
    height: 50vh;

    width: 100vw;
}

@media (max-width: 450px) {
    .intro {
        height: 30vh;
    }
}

.intro-text h1 {
    padding-bottom: 30px;
    font-size: 3rem;
}

@media (max-width: 800px) {
    .intro-text {
        text-align: center;
        padding: 0 30px;
    }
}

@media (max-width: 650px) {
    .intro-text {
        text-align: center;
        padding: 0 30px;
    }
    .intro-text h1 {
        font-size: 2rem;
        padding: 20px;
    }
}

.glow-on-hover {
    margin-top: 30px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(26, 25, 25);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(
        45deg,
        #b3b6b6,
        #e6e6e6,
        #4d7981,
        #344a4a,
        #91a5a4,
        #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(38, 38, 38);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.nav-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;

    padding: 30px;
}

@media (max-width: 400px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
        gap: 0;
    }
}

.nav-container li a {
    /* flex-shrink: 1;
    flex-grow: 1; */
    text-decoration: none;
    color: #eee;
    box-shadow: inset 0 0 0 0 #ffffff;

    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media (max-width: 400px) {
    .nav-container li {
        display: block;
        padding: 30px;
    }
}

.nav-container li a:hover {
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: rgb(23, 23, 23);
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 60px;
}

@media (min-width: 750px) {
    section {
        flex-direction: row;
    }
}

section > * {
    flex-basis: 100%;
}

@media (max-width: 800px) {
    .author {
        font-size: 12px;
        padding: 20px;
    }
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    width: 100vw;
}

@media (max-width: 1055px) {
    .grid-wrapper {
        grid-template-columns: 50%;
    }
}

@media (max-width: 450px) {
    .grid-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.card {
    padding: 32px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.card:nth-child(1) {
    color: #fff;
    fill: #fff;
    grid-column: 1;
    grid-row: 1 / span 2;
}
@media (max-width: 1055px) {
    .card:nth-child(1) {
        grid-row: 1;
    }
}

@media (max-width: 450px) {
    .card:nth-child(1) {
        aspect-ratio: 0;
    }
}

.card:nth-child(2) {
    aspect-ratio: 2;
    background: #e6e6e6;
    color: #000;
    grid-column: 2 / span 2;
}

@media (max-width: 1055px) {
    .card:nth-child(2) {
        aspect-ratio: 1;
        grid-column: 2;
    }
}
@media (max-width: 450px) {
    .card:nth-child(2) {
        aspect-ratio: 0;
    }
}

.card:nth-child(3) {
    background: rgb(208, 234, 237);
    color: #fff;
    fill: #fff;
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 1055px) {
    .card:nth-child(3) {
        grid-column: 1;
    }
}
@media (max-width: 450px) {
    .card:nth-child(3) {
        aspect-ratio: 0;
    }
}

.card:nth-child(4) {
    aspect-ratio: 1;
    background: #202020;
    color: #000;
    grid-column: 3;
    grid-row: 2;
}

@media (max-width: 1055px) {
    .card:nth-child(4) {
        grid-column: 2;
    }
}
@media (max-width: 450px) {
    .card:nth-child(4) {
        aspect-ratio: 0;
    }
}

.flex-wrapper {
    width: 600px;
    margin: 0 auto;
}

footer {
    display: block;
    text-align: center;
    padding: 24px 0px;
    background-color: #1d1d1d;
    color: white;
}

.contact-wrapper {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

@media (max-width: 720px) {
    .contact-wrapper {
        flex-direction: column;
    }
}

.cf {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* contact form start */
