html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

img,
picture {
    height: auto;
    width: 100%;
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.header,
.intro,
footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3))
            no-repeat fixed,
        url(/customcss/img/hosp.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #f9faf8;
}

.header,
.intro {
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;
}

.intro {
    height: 50vh;
}

section {
    padding: 30px;
    background-color: rgb(145, 155, 162);
}

.nav-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;

    padding: 30px;
    width: 100%;
}

@media (max-width: 400px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
        gap: 0;
    }
}

.nav-container li a {
    /* flex-shrink: 1;
    flex-grow: 1; */
    text-decoration: none;
    color: #eee;
    box-shadow: inset 0 0 0 0 #ffffff;

    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media (max-width: 400px) {
    .nav-container li {
        border-bottom: 1px solid white;
        display: block;
        padding: 30px;
    }
}

.nav-container li a:hover {
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: rgb(23, 23, 23);
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 750px) {
    section {
        flex-direction: row;
    }
}

section > * {
    flex-basis: 100%;
}

.quote {
    padding: 80px 35%;
    background: url(/customcss/img/hosp2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #ffffff;
    text-shadow: 0 0 1px #2c2c2c, 0 0 15px #292929;
}

.quote p {
    mix-blend-mode: luminosity;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.card:nth-child(1) {
    background: #0057b8;
    color: #fff;
    fill: #fff;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.card:nth-child(2) {
    aspect-ratio: 2;
    background: #e6e6e6;
    color: #000;
    grid-column: 2 / span 2;
}
.card:nth-child(3) {
    background: #000;
    color: #fff;
    fill: #fff;
    grid-column: 2;
    grid-row: 2;
}

.card:nth-child(4) {
    aspect-ratio: 1;
    background: #9cdbd9;
    color: #000;
    grid-column: 3;
    grid-row: 2;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: bold;
}

.flex-wrapper {
    width: 600px;
    margin: 0 auto;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
}
